<layout name="layout" />
<div class="form-div">
    <form action="" name="searchForm">
        <img src="__PUBLIC__/Admin/Images/icon_search.gif" width="26" height="22" border="0" alt="search" />


        <!-- 用户姓名 -->
        用户姓名 <input type="text" name="u_name" size="15" value="<?php echo I('get.u_name') ?>" />

        <!-- 手机号 -->
        手机号 <input type="text" name="u_phone" size="15" value="<?php echo I('get.u_phone') ?>" />
        <input type="submit" value="搜索" class="button" />
    </form>
</div>
 
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>报价单号</th>
                <th>业主姓名</th>
                <th>业主地址</th>
                <th>手机号</th>
                <th>最后操作时间</th>
                <th>操作</th>
            </tr>
            <?php foreach($data['data'] as $k => $v): ?>
            <tr class="tron">
                <td align="center"><?php echo $v['id'] ?></td>
                <td align="center"><?php echo $v['user_name'] ?></td>
                <td align="center"><?php echo $v['address'] ?></td>
                <td align="center"><?php echo $v['telephone'] ?></td>
                <td align="center"><?php if($v['update_time']){echo date("Y-m-d H:i:s", $v['update_time']);}else{echo date("Y-m-d H:i:s", $v['add_time']);} ?></td>
                <td align="center">
                <a href="<?php echo U('detail?id='.$v['id']) ?>" >报价单详情</a> |
                <a href="<?php echo U('getExcel?id='.$v['id']) ?>" >下载报价表</a> |
                <a href="<?php echo U('getPrcode?id='.$v['id']) ?>" >推送二维码</a> |
                <a href="<?php echo U('delete?id='.$v['id']) ?>" onclick="return delMol()">移除</a>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>
        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    <?php echo $data['page'] ?>
                </td>
            </tr>
        </table>
        <!-- 分页结束 -->
    </div>

 <!--引入高亮显示-->
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>
<script>
    function delMol() {
        if(confirm("确认删除嘛？")){
            return true;
        }else {
            return false;
        }
    }
</script>
