<layout name="layout" />
<form method="post" action="" name="listForm">
 
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>轮播图</th>
                <th>跳转路径</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            <?php foreach($data as $k => $v): ?>
            <tr class="tron">
                <td align="center"><image src="<?php echo $v['img_src'] ?>" width="50px" height="50px"></td>
                <td align="center"><?php echo $v['url'] ?></td>
                <td align="center"><?php echo $v['sort_id'] ?></td>
                <td align="center">
                <a href="<?php echo U('edit?id='.$v['id']) ?>" >编辑</a> |
                <a href="<?php echo U('delete?id='.$v['id']) ?>" onclick="return delCol()">移除</a>
                </td>
            </tr>
            <?php endforeach; ?>
 <!-- 分页开始 -->
            <table id="page-table" cellspacing="0">
                <tr>
                    <td width="80%">&nbsp;</td>
                    <td align="center" nowrap="true">
                        <?php echo $data['page'] ?>
                    </td>
                </tr>
            </table>
 <!--引入高亮显示-->
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>
<script>
    function delCol() {
        if(confirm("确认删除嘛？")){
            return true;
        }else {
            return false;
        }
    }
</script>
