<layout name="layout" />
<style>
    .attr-list{
        margin-top:5px;
    }
    .attr-list li{
        list-style:none;
        display: inline-block;
        margin-right: 20px;
    }
</style>
<div class="main-div">
    <form method="post" action="__SELF__"enctype="multipart/form-data" >
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">家具类型名称：</td>
                <td>
                    <input type="text" name="fur_name" maxlength="60" value="<?php echo $data['fur_name']; ?>" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">家具类型分类：</td>
                <td >
                    <select name="cate_id">
                        <option value="1" <?php echo ($data['cate_id'] == '1')?'selected':''; ?>>柜体</option>
                        <option value="2" <?php echo ($data['cate_id'] == '2')?'selected':''; ?>>门板</option>
                        <option value="3" <?php echo ($data['cate_id'] == '3')?'selected':''; ?>>饰面</option>
                    </select>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">封面图：</td>
                <td >
                    <input type="file" name="img_src" accept="image/*" >
                </td>
            </tr>
            <tr>
                <td class="label">扩展属性：</td>
                <td id="attr">
                    <div>
                        <input type="radio" name="attr-cate" value="1" checked>单选
                        <input type="radio" name="attr-cate" value="2">加减
                        <input type="button" value="扩展一个属性" onclick="addAttr()">
                    </div>
                    <?php $attribute = json_decode($data['attribute'],true);$index = 1;?>
                    <?php foreach($attribute as $k => $v): ?>
                    <?php foreach($v as $k1 => $v1): ?>
                    <div id="attr-list<?php echo $index;?>" class="attr-list">
                        <a href="javascript:void(0)" onclick="delAttr(this)">[删除此属性]</a>
                        <?php
                           if($k1 == '1'){
                              echo " 单选 ";
                           }else if($k1 == '2'){
                              echo " 加减 ";
                           }
                        ?>
                        <input type="hidden" name="ext_attr_cat[<?php echo $index;?>]" value="<?php echo $k1;?>">
                        <input type="text" name="attr_name[<?php echo $index;?>]" value="<?php echo $k;?>" style="width: 80px;margin-right: 5px;">
                        <?php foreach($v1 as $k2 => $v2):?>
                        <?php if($k2 == 0): ?>
                        <li> <a href="javascript:void(0)" sort="<?php echo $index;?>" onclick="addAttrVal(this)">[+]</a>
                            <?php else: ?>
                        <li> <a href="javascript:void(0)" sort="<?php echo $index;?>" onclick="addAttrVal(this)">[-]</a>
                            <?php endif; ?>
                            <input type="text" name="attr_val[<?php echo $index;?>][]" value="<?php echo $v2;?>" style="width: 80px;">
                        </li>
                        <?php  endforeach;?>
                    </div>
                    <?php  endforeach;?>
                    <?php $index = $index+1; endforeach; ?>
                </td>
            </tr>
            <tr>
                <td class="label">推荐排序：</td>
                <td>
                    <input type="text" name="sort_id" size="5" value="<?php echo $data['sort_id']; ?>"/>
                </td>
            </tr>
            <tr>
                <td class="label">是否显示：</td>
                <td>
                    <input type="radio" name="is_index" value="1" <?php echo ($data['is_index'] === '1')?'checked':''; ?>/> 是
                    <input type="radio" name="is_index" value="0" <?php echo ($data['is_index'] === '0')?'checked':''; ?>/> 否
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    index = <?php echo $index; ?>;
    function addAttr() {
        let attr_cate_ext = $("input[name='attr-cate']:checked").val();
        index = index + 1;
        var div = '<div id="attr-list'+index+'" class="attr-list">';
        div += '<a href="javascript:void(0)" onclick="delAttr(this)">[删除此属性]</a>';
        if(attr_cate_ext == '1'){
            div += ' 单选 ';
        }else if(attr_cate_ext == '2'){
            div += ' 加减 ';
        }
        div += '<input type="hidden" name="ext_attr_cat['+index+']" value="'+attr_cate_ext+'">';
        div += '<input type="text"  placeholder="属性名称" name="attr_name['+index+']" style="width: 80px;margin-right: 5px;">';
        div += '<li> <a href="javascript:void(0)" sort="'+index+'"  onclick="addAttrVal(this)">[+]</a>';
        div += '<input type="text" name="attr_val['+index+'][]" style="width: 80px;"></li>';
        div += '</div>';
        $('#attr').append(div);
    }
    function delAttr(a) {
        let div = $(a).parent();
        div.remove();
    }
    function addAttrVal(a) {
        let li = $(a).parent();
        var sort = $(a).attr('sort');
        var qqq = '#attr-list'+sort;
        if($(a).text() == '[+]'){
            var newLi = li.clone();
            newLi.find('a').text('[-]');
            newLi.find('input').val('');
            $(qqq).append(newLi);
        }else{
            li.remove();
        }
    }
</script>