<layout name="layout" />

<form method="post" action="" name="listForm">
 
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>家具类型名称</th>
                <th>操作</th>
            </tr>
            <tr>
                <td colspan="2">柜体</td>
            </tr>
            <?php foreach($cabinet as $k => $v): ?>
            <tr class="tron">
                <td>--<?php echo $v['fur_name'] ?></td>
                <td align="center">
                    <a href="<?php echo U('furniture_quote?id='.$v['id']) ?>" >属性模型</a> |
                    <a href="<?php echo U('edit?id='.$v['id']) ?>" >编辑</a> |
                    <a href="<?php echo U('delete?id='.$v['id']) ?>" onclick="return delMol()">移除</a>
                </td>
            </tr>
            <?php endforeach; ?>
            <tr>
                <td colspan="2">门板</td>
            </tr>
            <tr>
                <td colspan="2">饰面</td>
            </tr>
            <?php foreach($data as $k => $v): ?>
            <tr class="tron">
                <td align="center"><?php echo $v['id'] ?></td>
                <td align="center">
                <a href="<?php echo U('edit?id='.$v['id']) ?>" >编辑</a> |
                <a href="<?php echo U('delete?id='.$v['id']) ?>" onclick="return delMol()">移除</a>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>

 <!--引入高亮显示-->
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>
<script>
    function delMol() {
        if(confirm("确认删除嘛？")){
            return true;
        }else {
            return false;
        }
    }
</script>
